.advantages__wrapper {
  padding: 0 20px 17px 20px;
}

.advantages__title {
  margin: 0;
  margin-bottom: 35px;
  
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: @header-color;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages__item {
  position: relative;
  
  margin-bottom: 28px;
  padding-left: 80px;
  
  font-family: Arial, sans-serif;
  
  &::before {
    content: "";
    position: absolute;
    top: -4px;
    left: 0;
    
    width: 60px;
    height: 60px;
    
    background-color: #68b738;
  }
  
  &--healthy {
    
    &::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 17px;
    
    width: 28px;
    height: 32px;
    
    background: url(../../img/advantage-leaf@1x.png) -11px -9px no-repeat;
    }
  }
  
  &--resoluble {
    
    &::after {
      content: "";
    position: absolute;
    top: 9px;
    left: 15px;
    
    width: 31px;
    height: 33px;
    
    background: url(../../img/advantage-powder@1x.png) -9px -7px no-repeat;
    }
  }
  
  &--nutritious {
    
    &::after {
    content: "";
    position: absolute;
    top: 11px;
    left: 18px;
    
    width: 25px;
    height: 32px;
    
    background: url(../../img/advantage-dining@1x.png) -13px -9px no-repeat;
    }
  }
  
  &--productive {
    
    &::after {
    content: "";
    position: absolute;
    top: 11px;
    left: 17px;
    
    width: 28px;
    height: 33px;
    
    background: url(../../img/advantage-clock@1x.png) -12px -9px no-repeat;
    }
  }
}