.advantages__wrapper {
  padding: 0 20px 19px;
  max-width: 1300px;
  margin: 0 auto;
  box-sizing: border-box;
}

.advantages__title {
  margin: 0;
  margin-bottom: 32px;

  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: @header-color;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages__item {
  position: relative;

  margin-bottom: 27px;
  padding-left: 80px;
  box-sizing: border-box;

  font-family: Arial, Tahoma, sans-serif;

  &::before {
    content: "";
    position: absolute;
    top: -4px;
    left: 0;

    width: 60px;
    height: 60px;

    background-color: #68b738;
  }

  &--healthy {

    &::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 17px;

    width: 28px;
    height: 32px;

    background: url(../img/advantage-leaf@1x.png) -11px -9px no-repeat;
    background-size: 50px 50px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url(../img/advantage-leaf@2x.png);
    }
    }
  }

  &--resoluble {

    &::after {
      content: "";
    position: absolute;
    top: 9px;
    left: 15px;

    width: 31px;
    height: 33px;

    background: url(../img/advantage-powder@1x.png) -9px -7px no-repeat;
    background-size: 50px 50px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url(../img/advantage-powder@2x.png);
    }
    }
  }

  &--nutritious {

    &::after {
    content: "";
    position: absolute;
    top: 11px;
    left: 18px;

    width: 25px;
    height: 32px;

    background: url(../img/advantage-dining@1x.png) -13px -9px no-repeat;
    background-size: 50px 50px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url(../img/advantage-dining@2x.png);
    }
    }
  }

  &--productive {

    &::after {
    content: "";
    position: absolute;
    top: 11px;
    left: 17px;

    width: 28px;
    height: 33px;

    background: url(../img/advantage-clock@1x.png) -12px -9px no-repeat;
    background-size: 50px 50px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url(../img/advantage-clock@2x.png);
    }
    }
  }
}

@media (min-width: 768px) {
  .advantages__wrapper {
    padding: 0 30px 6px;
  }

  .advantages__title {
    margin-bottom: 72px;

    font-size: 60px;
  }

  .advantages__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .advantages__item {
    width: 324px;
    padding: 112px 79px 46px 0px;
    margin-bottom: 87px;

    font-size: 16px;
    line-height: 24px;

    &::before {
    top: 0;

    width: 80px;
    height: 80px;
    }

    &--healthy {
      background: url(../img/1.png) 125px 0 no-repeat;

      &::after {
        top: 24px;
        left: 29px;
      }
    }

    &--resoluble {
      background: url(../img/2.png) 122px 0 no-repeat;

      &::after {
        top: 20px;
        left: 25px;
      }
    }

    &--nutritious {
      margin-bottom: 50px;

      background: url(../img/3.png) 125px 0 no-repeat;

      &::after {
        top: 23px;
        left: 28px;
      }
    }

    &--productive {
      margin-bottom: 50px;

      background: url(../img/4.png) 125px 0 no-repeat;

      &::after {
        top: 23px;
        left: 27px;
      }
    }
  }

  .advantages__transposition {
    padding-right: 10px;
  }
}

@media (min-width: 1300px) {
  .advantages__wrapper {
    padding: 0 40px 23px;
  }

  .advantages__list {
    justify-content: space-between;
  }

  .advantages__item {
    width: 245px;
    margin: 0;
    padding-right: 0;
  }
}
