.catalog-item {
  padding-bottom: 24px;
  border-top: 1px solid #ededed;
}

.catalog-item__inner {
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px;
}

.catalog-item__wrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.catalog-item__title {
  margin: 0;
  margin-top: 24px;
  margin-bottom: 13px;
  padding-right: 43%;
  
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: @header-color;
  
  text-transform: uppercase;
}

.catalog-item__information {
  border-spacing: 0;
}

.catalog-item__field,
.catalog-item__value {
  padding: 0;
  
  font-family: Arial, Tahoma, sans-serif;
  font-size: 12px;
  line-height: 16px;
}

.catalog-item__value {
  text-align: right;
}

.catalog-item__button {
  flex-grow: 1;
}