.catalog__inner {
  max-width: 1300px;
  margin: 0 auto;
  box-sizing: border-box;
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: 768px) {
  .catalog__inner {
    padding: 65px 30px 0;
  }
  
  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .catalog__item {
    margin-bottom: 68px;
    margin-top: 72px;
  }
}

@media (min-width: 1300px) {
  .catalog__inner {
    padding: 66px 40px 0;
  }
}
