.categories__wrapper {
  padding: 0 20px 18px 20px;
  max-width: 1300px;
  margin: 0 auto;
  box-sizing: border-box;
}

.categories__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.categories__item {
  position: relative;

  padding: 18px 19px 20px;
  margin-bottom: 20px;

  background-color: #f2f2f2;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: 24px;
    left: 22px;

    width: 50px;
    height: 50px;

    background-color: #68b738;
    border-radius: 50%;
  }

  &--slim {

    &::after {
      content: "";
    position: absolute;
    top: 22px;
    left: 30px;

    width: 35px;
    height: 49px;

    background: url(../img/icon-cat-slim.svg) 0 0 no-repeat;
    }
  }

  &--pro{

    &::after {
    content: "";
    position: absolute;
    top: 35px;
    left: 13px;

    width: 67px;
    height: 28px;

    background: url(../img/icon-cat-pro.svg) 0 0 no-repeat;
    }
  }
}

.categories__title {
  margin: 0;
  margin-top: 13px;
  margin-bottom: 29px;
  padding-left: 72px;

  font-size: 24px;
  line-height: 37.02px;
  font-weight: 400;
  color: @header-color;

  text-transform: uppercase;
}

.categories__text {
  margin: 0;
  padding-bottom: 23px;
  margin-bottom: 19px;
  border-bottom: 1px solid #d9d9d9;

  font-family: Arial, Tahoma, sans-serif;
}

.categories__catalog-link {
  padding-right: 55px;

  font-size: 16px;
  line-height: 16px;
  color: #111111;

  background: url(../img/icon-right-arrow-long.svg) 97px 50% no-repeat;
  background-size: 24px 11px;
  text-transform: uppercase;

  &:hover {
    background-image: url(../img/icon-right-arrow-verylong.svg);
    background-size: 32px 11px;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: 768px) {
  .categories__wrapper {
    padding: 0 30px 45px;
  }

  .categories__item {
    padding: 78px 53px 60px 53px;

    &:not(:last-child) {
      margin-bottom: 30px;
    }

    &::before {
      top: 92px;
      left: inherit;
      right: 62px;

      width: 200px;
      height: 200px;
    }

    &--slim {
      &::after {
      top: 80px;
      left: inherit;
      right: 92px;

      width: 140px;
      height: 194px;
      }
    }

    &--pro {
      &::after {
      top: 135px;
      left: inherit;
      right: 28px;

      width: 268px;
      height: 112px;
      }
    }
  }

  .categories__title {
    padding-left: 0;
    padding-right: 250px;
    margin: 0;
    margin-bottom: 23px;

    font-size: 36px;
    line-height: 37px;
  }

  .categories__text {
    padding-right: 230px;
    padding-bottom: 0;
    margin-bottom: 57px;

    font-size: 16px;
    line-height: 24px;

    border-bottom: none;
  }

  .categories__item--pro .categories__text {
    padding-right: 260px;
  }

  .categories__catalog-link {
    font-size: 20px;
    line-height: 20px;

    background-position: 130px 50%;
  }

  .categories__item--pro .categories__catalog-link {
    background-position: 125px 50%;
  }
}

@media (min-width: 1300px) {
  .categories__wrapper {
    padding: 83px 40px 73px;
  }

  .categories__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .categories__item {
    box-sizing: border-box;
    width: 570px;

    &:not(:last-child) {
      margin: 0;
    }

    &::before {
      top: 47px;
      left: 52px;

      width: 100px;
      height: 100px;
    }

    &--slim {
      &::after {
        top: 41px;
        left: 66px;

        width: 70px;
        height: 97px;
      }
    }

    &--pro {
      &::after {
        top: 69px;
        left: 34px;

        width: 134px;
        height: 56px;
      }
    }
    

    .categories__title {
      padding-left: 160px;
      padding-right: 55px;
      margin-bottom: 72px;
    }

    .categories__text {
      padding-right: 0;
      margin-bottom: 32px;
    }
  }
}
