.copyright {
  display: flex;
  justify-content: space-between;
  padding-top: 23px;
  padding-bottom: 20px;

  &:hover path {
    fill: #68b738;
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__text {
  margin-top: 7px;

  font-family: "Arial", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 16px;
}

@media (min-width: 768px) {
  .copyright {
    padding: 0;
  }

  .copyright__text {
    margin-top: 1px;
    margin-right: 22px;
  }

  .copyright__link {
    margin-top: -6px;
  }
}
