.extra {
  position: relative;

  margin: 0;
  border: none;
  padding: 0;

  &::before {
    position: absolute;
    top: 13px;
    left: 0;

    content: "";
    display: block;
    width: 100%;
    height: 3px;

    background: linear-gradient(to right, transparent 57.5%, #68b738 57.5%);
    z-index: -1;
  }
}

.extra__inner {
  box-sizing: border-box;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px 40px;
}

.extra__title {
  margin: 0;
  margin-bottom: 40px;

  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: @header-color;
  text-transform: none;
}

.extra__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.extra__item {
  &:not(:last-child) {
    margin-bottom: 25px;
  }
}

.extra__description {
  position: relative;

  padding-left: 46px;

  &::before {
    content: "";

    position: absolute;
    top: -3px;
    left: 0;

    width: 29px;
    height: 29px;

    border: 1px solid #ededed;
  }

  &:hover {
    &::before {
      border-color: #cdcdcd;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

input[type="checkbox"]:checked + .extra__description {
  &::after {
    content: "";

    position: absolute;
    top: -3px;
    left: 0;

    width: 30px;
    height: 30px;

    background: url(../img/icon-tick.svg) center no-repeat;
    background-size: 21px 16px;
  }
}

@media (min-width: 768px) {
  .extra {
    &::before {
      top: 22px;

      background: linear-gradient(to right, transparent 41.927%, #68b738 41.927%);
    }

    &::after {
      position: absolute;
      top: 22px;
      left: -2px;

      content: "";
      display: block;
      width: 100%;
      height: 3px;

      background: linear-gradient(to right, #68b738 4%, transparent 4%);
    }
  }

  .extra__inner {
    padding: 0 70px 13px;
  }

  .extra__title {
    margin-bottom: 66px;

    font-size: 36px;
    line-height: 36px;
  }

  .extra__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .extra__item {
    width: 284px;
      &:not(:last-child) {
      margin-bottom: 51px;
    }
  }

  .extra__description {
    padding-left: 58px;

    font-size: 20px;
    line-height: 20px;

    &::before {
      top: -5px;

      width: 39px;
      height: 39px;
    }
  }

  input[type="checkbox"]:checked + .extra__description {
    &::after {
      top: -5px;

      width: 40px;
      height: 40px;
    }
  }
}

@media (min-width: 1300px) {
  .extra {
    &::before {
      background: linear-gradient(to right, transparent 22.4615%, #68b738 22.4615%);
    }

    &::after {
      width: calc((100% - 1300px)/2);
      background: #68b738;
    }
  }

  .extra__inner {
    padding: 0 40px 70px;
  }

  .extra__title {
    display: inline-block;
    padding-right: 43px;

    background-color: #ffffff;
  }

  .extra__list {
    justify-content: space-between;
  }

  .extra__item {
    width: 245px;
    &:not(:last-child) {
      margin: 0;
    }
  }
}
