.main-nav__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  text-align: center;
  border-bottom: 1px solid #e6e6e6; 
}

.main-nav__link {
  display: block;
  padding: 23px 20px 17px 20px;
  
  color: #111111;
  text-transform: uppercase;
}