.site-main__title {
  margin: 0;
  padding: 15px 20px 28px;
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
  
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: @header-color;
}

@media (min-width: 768px) {
  .site-main__title {
    padding: 56px 30px 28px;
    
    font-size: 60px;
  }
}

@media (min-width: 1440px) {
  .site-main__title {
    padding: 72px 110px 28px;
  }
}