.site-main__title {
  margin: 0;
  padding: 28px 20px 31px 20px;
  
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: @header-color;
}

@media (min-width: 768px) {
  .site-main__title {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: 1440px) {
  .site-main__title {
    padding-left: 110px;
    padding-right: 110px;
  }
}